<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
    
	<meta name="description" content="Search, Compare, Vehicle online in India with India's leading online ....  ...com">
        <link rel="alternate" href="android-app://com.commonfloor/http/www.commonfloor.com/?f=sem_cf-bkem-08&gclid=clshkio1g8gcfvuvjgodj4cpoa" />
    <link rel="dns-prefetch" href=https://asset1.cfcdn.com/><link rel="dns-prefetch" href=https://asset2.cfcdn.com/><link rel="dns-prefetch" href=https://asset3.cfcdn.com/><link rel="dns-prefetch" href=https://img1.cfcdn.com/><link rel="dns-prefetch" href=https://img2.cfcdn.com/><link rel="dns-prefetch" href=//fonts.googleapis.com/><link rel="dns-prefetch" href=//www.googletagservices.com/><link rel="dns-prefetch" href=//www.google-analytics.com/>    
	
	<title> Search, Compare, Vehicle online in India</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="language" content="english">
<meta name="author" content="i5.com">
<meta name="keywords" content="">
<meta name="description" content="Search, Compare, Vehicle online in India....">
<meta name="verify-v1" content="VdeJNnS7hN4uOPvKtrk68W7kpAX2onKQh4IB6AxZExk=">
<meta name="alexaVerifyID" content="j8ycakrVppm3U8Lrjh20f0l9MME">
<link rel="shortcut icon" href="/cfassets/images/favicon.ico">
<title>Search, Compare, Vehicle online in India....</title>
    
	<!-- Le styles -->
    <link rel="stylesheet" href="{% static "assets/css/bootstrap.min2.css" %}" >
	
	
    </head>

	<body class="home">
	
	<input type="hidden" id="hv-isLoggedIn" value="0">
    <div class="container-fluid parallax">
        <div id="group2" class="parallax-group">
            <div class="parallax-layer parallax-layer-base homepage-top-wrapper">
            </div>
           <div class="parallax-layer parallax-layer-front">
                <div class="row " id="page-header">
                     <header class='cf-hdr-blk'>

                            <input type="hidden" id="hv-isLoggedIn" value="0">
                                   <div class="top-nav-wrp">
                                       <nav class="header-nav row">
                                            <div class="col-md-4 col-xs-4">
                                                 <div class="row">
                                                      <ul class="header-left-content">
                                                          <li>
                                                             <div class="">
                                                                  <a title="Buy, Sell and Rent Property in India" href="/" class="cf-logo"></a>
                                                              </div>
                                                          </li>
                                                          <li>
                                                            <div class="cf-menu-wrp">
                                                                    <div href="javascript:void(0);" class="cf-drpdwn">
                                                                         <a class="cf-lnk cf-tracking-enabled" data-tracking-id="head-menu-btn" data-delegation-parent-class="header-left-content" href="javascript:void(0);">
                                                                             <span class="icon-options"></span>
                                                                                  <span class="text-label">Menu</span>
                                                                         </a>
                                                               <div class="cf-drpdwn-bd">
                                                                    <ul class="hdr-menu-blk">
                                                                        <li class="cf-tracking-enabled" data-tracking-id="head-menu-item-4" data-delegation-parent-class="cf-menu-wrp">
                                                                           <a href="/project-search"> Browse Vehicle </a>
                                                                        </li>
                                                                        <li class="cf-tracking-enabled" data-tracking-id="head-menu-item-5" data-delegation-parent-class="cf-menu-wrp">
                                                                            <a href="/localities/index"> Browse Localities </a>
                                                                        </li>
                                                                        <li class="cf-tracking-enabled" data-tracking-id="head-menu-item-7" data-delegation-parent-class="cf-menu-wrp">
                                                                            <a href="/real-estate-agents-india"> Dealer Directory </a>
                                                                        </li>
													                    <li class="cf-tracking-enabled" data-tracking-id="head-menu-item-6" data-delegation-parent-class="cf-menu-wrp">
                                                                           <a href="/lp/locality-projects/id/site-visit-bangalore?site-visit"> Visit Dealer </a>
                                                                        </li>
                                                                    </ul>
                                                                    <ul class="hdr-menu-blk">
                                                                        <li class="cf-tracking-enabled" data-tracking-id="head-menu-item-9" data-delegation-parent-class="cf-menu-wrp">
                                                                           <a href="/guide"> Guide </a>
                                                                        </li>
                                                                        <li class="cf-tracking-enabled" data-tracking-id="head-menu-item-10" data-delegation-parent-class="cf-menu-wrp">
                                                                           <a href="http://commonfloor.bankbazaar.com/home-loan.html?WT.mc_id=commonfloor_Header&utm_source=commonfloor&utm_medium=referral&utm_campaign=commonfloor&variant=slide&variantOptions=mobileRequired"> Vehicle Loans </a>
                                                                        </li>
                                                                        <li class="cf-tracking-enabled" data-tracking-id="head-menu-item-11" data-delegation-parent-class="cf-menu-wrp">
                                                                            <a href="/news"> News </a>
                                                                    </ul>
                                                                    <ul class="hdr-menu-blk">
                                                                         <li class="cf-tracking-enabled" data-tracking-id="head-menu-item-19" data-delegation-parent-class="cf-menu-wrp">
                                                                             <a href="/mobile"> Get Mobile App </a>
                                                                         </li>
                                                                         <li class="cf-tracking-enabled" data-tracking-id="head-menu-item-20" data-delegation-parent-class="cf-menu-wrp">
                                                                             <a href="#"> Call Us: 1800 180 180 180 </a>
                                                                         </li>
                                                                    </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                   </div>
                    <div class="col-md-8 col-xs-8">
                    <div class="row right-btns">
                        <ul class="header-right-content">
                            <li>
                                <div class="downloadapp">

                                    <a class="downloadappbtn" href="/mobile?src=other_commonfloor&medium=pcweb&campaign=PC-Header-Button&content=''&term=/?f=sem_cf-bkem-08&gclid=clshkio1g8gcfvuvjgodj4cpoa" target="_blank">

                                    <a class="downloadappbtn cf-tracking-enabled" data-tracking-id="head-menu-dwnldapp" data-delegation-parent-class="downloadapp" href="/mobile" target="_blank">

                                        Download App
                                    </a>
                                </div>
                            </li>
                            <li>
                            
                                <div class="cf-sell-wrp">
                                    <a class="cf-btn cf-sell-btn cf-tracking-enabled" data-tracking-id="head-post-property" data-delegation-parent-class="cf-sell-wrp" href="/list-your-property">
                                        Bye Vehicle
                                    </a>
                                </div>
                                                                                                                </li>
                            <li>
                                
                            </li>
                            <li>
                                <div class="cf-login">
                                    <a class="cf-lnk " href="javascript:void(0);">
                                                                            <span class="text-label" id="setUserName">Log In/Sign Up</span>
                                    </a>
                                    <div class="cf-login-bd">
                                        <ul class="login-menu-blk">
                                            <li class="cf-tracking-enabled" data-tracking-id="head-login-login" data-delegation-parent-class="login-menu-blk"><a href="/authorize/signin?redirect_url=" rel=“nofollow” >Log in to your account</a></li>
                                            <li class="cf-tracking-enabled" data-tracking-id="head-login-signup-user" data-delegation-parent-class="login-menu-blk"><a href="/authorize/signup" rel=“nofollow”>Sign up as individual</a></li>
                                            <li class="cf-tracking-enabled" data-tracking-id="head-login-signup-agent" data-delegation-parent-class="login-menu-blk"><a href="/agent/login?show_signup=1" rel=“nofollow”>Sign up as Dealer</a></li>
                                        </ul>
                                                                        </div> 
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </nav>
        </div>
    </header>

	
	
    
  
    <div class="col-md-12 text-center homepage-welcome-message">
        <h1>i5. You are Home.</h1>
    </div>
	
           
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
            <div class="search-box-form">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12 select-city-container">
                        <input type="text" name="city" id="select-city" placeholder="Type your City" value="Bangalore" data-cf-personalized-city="Bangalore">
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12 select-location-container" id="top-search-box">
                            <input type="text" name="property_location_filter[]" class="form-control form-element" id="project-locality-input" data-label-name="locality"
                               placeholder="Search by Locality or Dealer Name or Vehicle Name" data-label="location">
                            <div id="hidden_fields_container">
                                <input type="hidden" id="min_inr" name="min_inr" value="">
                                <input type="hidden" id="max_inr" name="max_inr" value="">
                                <input type="hidden" id="prop_location" name="prop_name[]" >
                            </div>
                                <div class="project-search" id="projectSearch">
                                    <input type="checkbox" name="search_entity" value="project" class="search-checkbox projectSearch cf-tracking-enabled" data-tracking-id="sp-show-pro-btn" data-delegation-parent-class="home-page" id="showProjectOnly"  >
                                    <label for="showProjectOnly" class="dropdown-label">Show Vehicle Only </label>
                                    <input type="hidden" id="GA-searchProjectOnly" value=""></input>
                                </div>
                               <div class="top-search">
                                   <button type="submit" id="home-page-search" class="btn btn-lg search-btn" data-tracking-id="sp-form" data-delegation-parent-class="search-box-form"> <span class="icon-magnifier"></span>Search</button>
                               </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
				
				
    </body>
</html>